# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Runtime/Cache/Home/dd630bad5b2286a34bdde899d28e886a.php
Runtime/Cache/Home/6ede099d38a78cedee8afe54e964b19d.php
Runtime/Cache/Home/64032f3cba072b42246c94805e3ede75.php
Runtime/Cache/Home/9d3196aed458f42d68ae1420a0abb9af.php
Runtime/Cache/Admin/ffc7297dd79f4362b46e2e53a1e06216.php
Runtime/Cache/Admin/dd3c27be1fa2b119ebba51813b1b90a5.php
Runtime/Cache/Admin/02b4a20c98675b6593eb0a6fad73b701.php
Runtime/Cache/Admin/9df924d9a2d217daa77a359c5bee0c33.php
Runtime/Cache/Admin/f0f0edaa955fd2857dedea53d1ab9ca3.php
Runtime/Cache/Home/29043a4c167ab71e7ddaec218a6a2780.php
Runtime/Cache/Home/c1f6f7e56ca25b96c3611819901e2d76.php
