<extend  name="Public/base.html"/>
<block name="content">
    <style>
        .condiv{
            padding: 40px;
            background:limegreen;
            color: #fff;
            margin-left: 30px;
            border-radius: 10px;
            font-size: 20px;
            font-family: '微软雅黑', 'MicrosoftYaHei';
        }
    </style>
    <div style="text-align: left;margin: 40px 60px;">
        <div style="font-size:48px;font-family: 'Microsoft YaHei';color: #474747;padding-bottom: 30px;">爱德拉-管理中心</div>
        <div style="color: #707070;font-size: 20px">ADELA Management Center</div>
    </div>
    <div class="container" style="margin-top: 150px;">

       <!--  <a href="{:U('picture/index')}"><div class="fl condiv">图片管理</div></a>
        <div style="clear: both"></div> -->
    </div>
    <script src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
    <script>
        $('#sy').addClass('active').siblings().removeClass('active');
    </script>
</block>