<extend name="Public/base.html"/>
<block name="content">
    <style>
        table tr th,td{
            text-align: center;
        }
        .pages a,
        .pages span {
            display: inline-block;
            padding: 2px 5px;
            margin: 0 1px;
            border: 1px solid #f0f0f0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .pages a,
        .pages li {
            display: inline-block;
            list-style: none;
            text-decoration: none;
            color: #58A0D3;
        }

        .pages a.first,
        .pages a.prev,
        .pages a.next,
        .pages a.end {
            margin: 0;
        }

        .pages a:hover {
            border-color: #50A8E6;
        }

        .pages span.current {
            background: #50A8E6;
            color: #FFF;
            font-weight: 700;
            border-color: #50A8E6;
        }
        pre{font-family:'微软雅黑'}
    </style>
    <div id="main">
        <ul class="nav nav-tabs" style="margin: 20px 20px 0;">
            <li role="presentation"><a href="{:U('equip/index')}">设备信息</a></li>
            <li role="presentation"><a href="{:U('equip/use_equip')}">使用日志</a></li>
            <li role="presentation" class="active"><a href="{:U('equip/equip_log')}">故障日志</a></li>
        </ul>
        <div class="col-lg-12">
            <div class="col-lg-12" style="margin: 40px 0 20px;">
                <form class="form-inline" action="{:U('equip/equip_log')}" method="post">
                    <div class="form-group">
                        <label for="key">关键字：</label>
                        <input type="text" class="form-control" id="key" autocomplete="off" name="key" placeholder="请输入设备号">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
            <div class="col-lg-12 mt">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>设备号</th>
                        <th>日志内容</th>
                        <th>错误时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="list" item="vo">
                        <tr id="tr-{$vo.id}">
                            <td>{$vo.eq_nu}</td>
                            <td>{$vo.content}</td>
                            <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12">
                <div class="pages" style="margin-top: 20px;margin-left:45%;">
                    {$pageinfo}
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/Admin/Js/jquery-1.8.3.min.js"></script>
    <!--删除-->
    <script>
        function doDel(id){
            if(confirm('删除后无法恢复，是否删除？')){
                $.ajax({
                    url:'{:U(\'user/del\')}',
                    type:'post',
                    async:false,
                    data:{id:id},
                    dataType:'json',
                    success:function(data){
                        if(data){
                            $('#tr-'+id).remove();
                        }
                    },
                    error:function(){

                    }
                })
            }
        }
    </script>
    <script>
        $('#sb-con').addClass('active').siblings().removeClass('active');
    </script>
</block>