<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请求设备</title>
</head>
<body>
111;
</body>
<script src="__PUBLIC__/Admin/Js/jquery-1.8.3.min.js"></script>
<script>
    $(function(){
        $.ajax({
            url:'{:U(\'ws/ajax\')}',
            type:'post',
            async:false,
            data:{},
            dataType:'json'
        });
        setInterval(function(){
            $.ajax({
                url:'{:U(\'ws/ajax\')}',
                type:'post',
                async:false,
                data:{},
                dataType:'json'
            });
        },5000);
    })
</script>
</html>