<extend name="Public/Public.html"/>
<block name="content">
    <style>
        .annu{
            display: inline-block;
            padding: 10px 50px;
            background: #0D98E6;
            margin: 15px;
            border-radius:6px;
            color: #fff;
        }
        .inp{
            height:35px;
            width: 200px;
            font-size: 18px;
            font-family: '微软雅黑', 'MicrosoftYaHei';
            border-radius: 7px;
            text-align: center;
        }
    </style>
    <!--<section class="container">-->
    <div>
        <!--banner-->
        <div>
            <img src="__PUBLIC__/Upload/Pic/{$pic.banner}" alt="" style="width: 100%;">
        </div>
        <!--banner end-->
        <!--content-->
        <div style="margin: 20px 0;">
            <div style="text-align: center;">
                <span style="color:#0D98E6;font-size: 18px;font-family: '微软雅黑', 'MicrosoftYaHei';">{$Think.cookie.user}</span>
            </div>
            <div style="text-align: center;margin-top: 30px;">
                <img src="__PUBLIC__/Index/Images/yeicon.jpg" alt="" width="20"><span style="color:#0D98E6;font-size: 18px;font-family: '微软雅黑', 'MicrosoftYaHei';margin-left: 2px;">我的余额：<span>{$list.ye}</span>元</span>
            </div>
            <div style="margin-top: 20px">
                <form action="{:U('user/order')}" method="post">
                    <div style="margin: 10px 0;text-align: center;">
                        <span style="font-size: 18px;font-family: '微软雅黑', 'MicrosoftYaHei';margin-right: 10px;">充值金额：</span><input type="text" class="inp" name="price" placeholder="请输入充值金额" autocomplete="off" required="required">
                    </div>
                    <div style="margin: 10px 0;text-align: center;">
                        <span style="font-size: 18px;font-family: '微软雅黑', 'MicrosoftYaHei';margin-right: 8px;">支付方式：</span><input type="radio" name="cate" value="微信支付" checked><span style="font-size: 18px;font-family: '微软雅黑', 'MicrosoftYaHei';">微信支付</span>
                        <input type="radio" name="cate" value="支付宝支付" style="margin-left: 10px;"><span style="font-size: 18px;font-family: '微软雅黑', 'MicrosoftYaHei';">支付宝支付</span>
                    </div>
                    <div style="margin: 10px 0;text-align: center;">
                        <button type="submit" class="annu pointer">确认充值</button>
                    </div>
                </form>
            </div>
        </div>
        <!--content end-->
        <!--logo-->
        <div style="width: 70%;margin-left: 15%;margin-top: 50px;">
            <img src="__PUBLIC__/Upload/Pic/{$pic.dlogo}" alt="" style="width: 100%;">
        </div>
        <!--logo end-->
    </div>
    <!--</section>-->
    <script src="__PUBLIC__/Admin/Js/jquery-1.8.3.min.js"></script>
    <script>
        $('#mytitle').html('大连爱德拉自助洗车-充值中心');
    </script>
</block>